@import url(../fonts/fonts.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  scroll-behavior: smooth;
  background-color: #463333;
  font-family: "Effra-Light", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #463333;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #463333;
}

::-moz-selection {
  color: #fff;
  background-color: #463333;
}

::selection {
  color: #fff;
  background-color: #463333;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #fff;
}

a:hover {
  color: #E04242;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #463333;
}

textarea {
  resize: none;
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #463333;
}

textarea::-moz-placeholder {
  color: #463333;
}

textarea:-ms-input-placeholder {
  color: #463333;
}

textarea::-ms-input-placeholder {
  color: #463333;
}

textarea::placeholder {
  color: #463333;
}

input,
textarea,
select {
  color: #fff;
  font-size: 16px;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid #A17772;
  border-radius: 3px;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder {
  color: #fff;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder {
  color: #fff;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder {
  color: #fff;
}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder {
  color: #fff;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #fff;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  border-color: #E04242;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #E04242;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #E04242;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25);
}

.b {
  font-family: "Effra-Bold";
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.btn {
  position: relative;
  font-family: "Effra-Bold";
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0;
  outline: none;
  display: inline-block;
}

.btn span {
  position: relative;
  width: 100%;
  min-width: 170px;
  padding: 15px 18px;
  display: block;
  z-index: 2;
  background-color: #E04242;
  border-radius: 3px;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  -webkit-transform: translate(-4px, -4px);
      -ms-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}

@media only screen and (max-width: 600px) {
  .btn span {
    font-size: 13px;
    min-width: 90px;
    padding: 15px 10px;
  }
}

.btn:hover {
  color: #fff;
  border-color: #E04242;
}

.btn:hover span {
  color: #fff;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.preloader {
  display: inline-block;
  position: relative;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.preloader svg {
  fill: #E04242;
  height: 90px;
  width: 300px;
}

.preloader__wrp {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.layout__overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #E04242;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.layout__grid {
  position: fixed;
  max-width: 1140px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1;
}

.layout__grid-item {
  height: 100%;
  border-right: 1px solid #553f3f;
}

.layout__grid-item:first-child {
  border-left: 1px solid #553f3f;
}

.menu {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #463333;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  padding: 60px 30px;
  min-height: 100vh;
  z-index: 3;
  -webkit-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@media only screen and (max-width: 1200px) {
  .menu {
    right: -120%;
    width: 100%;
    min-height: 400px;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 15px;
  }
}

.menu__in {
  opacity: 0;
  -webkit-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

@media only screen and (max-width: 1200px) {
  .menu__in {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.popup {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #463333;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  padding: 60px 30px;
  min-height: 100vh;
  z-index: 3;
  -webkit-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@media only screen and (max-width: 1200px) {
  .popup {
    right: -120%;
    width: 100%;
    min-height: 400px;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 15px;
  }
}

.popup__in {
  opacity: 0;
  -webkit-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

@media only screen and (max-width: 1200px) {
  .popup__in {
    max-width: 370px;
    margin-right: auto;
    margin-left: auto;
  }
}

.popup__cross {
  margin-left: auto;
  display: block;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.popup__cross:hover {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: .8;
}

@media only screen and (max-width: 575px) {
  .popup__cross svg {
    width: 20px;
  }
}

.popup__form {
  max-width: 470px;
}

.popup__form-descr {
  font-size: 15px;
  color: #686868;
}

.menu-open {
  overflow: hidden;
  height: 100vh;
}

.menu-open .menu {
  right: 0;
}

.menu-open .menu__in {
  opacity: 1;
}

.feed-open {
  overflow: hidden;
  height: 100vh;
  padding-right: 15px;
}

@media only screen and (max-width: 1200px) {
  .feed-open {
    padding-right: 0;
  }
}

.feed-open .popup {
  right: 0;
}

.feed-open .popup__in {
  opacity: 1;
}

.feed-open .layout__overlay {
  opacity: .9;
  visibility: visible;
}

.form-select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background: url("../img/icon__arrow.svg") no-repeat 99% 50%;
}

.form-check {
  margin-top: 25px;
}

.form-check__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.form-check__input:checked ~ .form-check__text .form-check__text-gal {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.form-check__text {
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.form-check__text-circle {
  position: relative;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  border: 1px solid #C5A19E;
  border-radius: 3px;
  margin-right: 8px;
}

.form-check__text-gal {
  position: absolute;
  top: 7px;
  left: 6px;
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header {
  position: relative;
  padding: 30px 0;
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 15px 0;
  }
}

.header__hmb {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__hmb::before, .header__hmb::after {
  position: absolute;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  width: 30px;
  height: 3px;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__hmb::before {
  top: 20px;
}

.header__hmb::after {
  bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .header__hmb {
    display: block;
  }
}

@media only screen and (max-width: 420px) {
  .header__logo svg {
    width: 80px;
  }
}

.header__logo-text {
  font-family: "Effra-Regular";
  font-size: 18px;
  max-width: 160px;
}

@media only screen and (max-width: 1200px) {
  .header__logo-text {
    font-size: 14px;
  }
}

.header__nav {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .header__nav {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.header__nav-link {
  font-family: "Effra-Bold";
  font-size: 14px;
  text-transform: uppercase;
}

.header__nav-link:not(:last-child) {
  margin-right: 15px;
}

.header__tel {
  font-family: "Effra-Bold";
  margin-right: 30px;
}

.header__tel-link {
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #473334;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
  }
  .header__menu > div {
    height: 100%;
  }
}

.section__ttl {
  position: relative;
  font-family: "Effra-Bold";
  font-size: 55px;
  line-height: 1.1;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
  .section__ttl {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.section__ttl span {
  position: absolute;
  font-family: "Effra-Light";
  color: #644A4A;
  left: -80px;
}

@media only screen and (max-width: 1200px) {
  .section__ttl span {
    top: -30px;
    left: 0;
  }
}

.section__subttl {
  font-size: 22px;
  color: #C5A19E;
  margin-top: -20px;
  margin-bottom: 45px;
}

@media only screen and (max-width: 1200px) {
  .section__subttl {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.section_inner {
  padding: 70px 0;
}

@media only screen and (max-width: 1200px) {
  .section_inner {
    padding: 30px 0;
  }
}

.section_inner > .container {
  position: relative;
  z-index: 2;
}

.hero {
  background-image: url("../img/banner__bg.jpg");
  background-position: 50% 0;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero > .container {
  position: relative;
  z-index: 2;
}

.banner {
  padding: 60px 0;
}

@media only screen and (max-width: 1200px) {
  .banner {
    padding: 30px 0;
  }
}

.banner .section__ttl, .banner__left, .banner__center {
  position: relative;
  z-index: 2;
}

.banner__subttl {
  font-size: 22px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .banner__subttl {
    font-size: 18px;
  }
}

.banner__list {
  font-family: "Effra-Bold";
  font-size: 22px;
}

@media only screen and (max-width: 1200px) {
  .banner__list {
    font-size: 18px;
  }
}

.banner__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__list-item span:nth-child(1) {
  color: #E04242;
}

.banner__list-item:not(:last-child) {
  margin-bottom: 18px;
}

.banner__descr {
  font-size: 20px;
  color: #C5A19E;
}

@media only screen and (max-width: 1200px) {
  .banner__descr {
    font-size: 16px;
  }
}

.banner__btn {
  margin-top: 20px;
}

.banner__form {
  margin-top: 35px;
}

.banner__form-in {
  position: relative;
  width: 100%;
}

.banner__form-ttl {
  font-family: "Effra-Bold";
  font-size: 22px;
  margin-bottom: 15px;
}

.banner__form-input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border-color: #fff;
}

@media only screen and (max-width: 400px) {
  .banner__form-input {
    font-size: 14px;
    padding-left: 10px;
  }
}

.banner__form-btn {
  position: absolute;
  right: 0;
  border: #C5A19E;
}

.banner__image {
  position: absolute;
  top: -390px;
  left: -230px;
  z-index: 1;
}

.banner__image-wrp {
  position: relative;
}

.stack .section__subttl {
  max-width: 300px;
}

.stack__img {
  position: absolute;
  top: -200px;
  right: -100px;
}

.stack__img-wrp {
  position: relative;
}

.stack__item {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .stack__item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.stack__item-ttl {
  font-family: "Effra-Bold";
  font-size: 22px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1200px) {
  .stack__item-ttl {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.stack__item-logo {
  width: 170px;
  height: 55px;
  background-color: #4F3A39;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.stack__item-logo:not(:last-child) {
  margin-bottom: 18px;
}

.stack__item-logo:hover {
  background-color: #E04242;
}

@media only screen and (max-width: 1200px) {
  .stack__item-logo {
    width: 120px;
  }
}

.stack__item-logo-img {
  max-width: 80%;
  height: auto;
}

.trust {
  position: relative;
}

.trust__item {
  width: 100%;
  height: 109px;
  background-color: #4F3A39;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

@media only screen and (max-width: 600px) {
  .trust__item {
    height: 55px;
  }
}

.trust__item:hover {
  background-color: #E04242;
}

.trust__item-img {
  max-width: 80%;
  height: auto;
}

.test {
  background-image: url("../img/test__bg.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.test__item {
  line-height: 1.3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.test__item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.test__item:hover > * {
  color: #E04242;
}

.test__item:hover .test__item-icon path {
  fill: #E04242 !important;
}

.test__item-icon {
  margin-bottom: 15px;
}

.test__item-icon svg path {
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .test__item-icon svg path {
    width: 50px;
    height: 50px;
  }
}

.test__item-ttl {
  font-family: "Effra-Bold";
  font-size: 22px;
  min-height: 55px;
  margin-bottom: 15px;
  display: inline-block;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .test__item-ttl {
    font-size: 18px;
    min-height: auto;
    margin-bottom: 10px;
  }
}

.test__item-descr {
  font-family: "Effra-Regular";
  font-size: 18px;
  color: #C5A19E;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .test__item-descr {
    font-size: 14px;
  }
}

.case__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 333px;
}

@media only screen and (max-width: 600px) {
  .case__item {
    min-height: auto;
  }
}

.case__item:hover .case__item-logo {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.case__item-img {
  padding: 50px 20px;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .case__item-img {
    display: none;
  }
}

.case__item-logo {
  max-width: 80%;
  height: auto;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.case__item-info {
  padding: 25px 20px;
  background-color: #fff;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  .case__item-info {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}

.case__item-ttl {
  font-family: "Effra-Bold";
  font-size: 20px;
  color: #282828;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .case__item-ttl {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.case__item-descr {
  font-family: "Effra-Regular";
  font-size: 16px;
  line-height: 1.3;
  color: #565656;
  margin-bottom: 10px;
}

.case__item-link span {
  font-family: "Effra-Regular";
  font-size: 18px;
  color: #A17772;
  border-bottom: 1px solid #A17772;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.case__item-link path {
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.case__item-link:hover span {
  color: #E04242;
}

.case__item-link:hover path {
  fill: #E04242;
}

.feed {
  background-image: url("../img/feed__bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.feed__left {
  position: relative;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feed__form {
  position: relative;
  z-index: 1;
  margin-top: 15px;
}

.feed__form-input {
  margin-bottom: 15px;
}

.feed__form-select {
  margin-bottom: 15px;
}

.feed__form-budg {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.feed__form-budg-title {
  margin-bottom: 20px;
}

.feed__form-budg-title span {
  font-family: "Effra-Bold";
  font-size: 25px;
  color: #E04242;
}

.feed__form .ui-slider-horizontal {
  height: 5px;
}

.feed__form .ui-slider-horizontal .ui-slider-handle {
  top: -8px;
  cursor: pointer;
}

.feed__form .ui-widget.ui-widget-content {
  border-radius: 5px;
  border: 1px solid #463333;
  background: #E04242;
}

.feed__form .ui-widget-header {
  background: #C5A19E;
}

.feed__form-slider {
  width: 100%;
}

.feed__form-handle {
  background: -o-radial-gradient(50% 50%, 50% 50%, #E7E7E7 100%, #C0C0C0 100%, #C0C0C0 100%, #E7E7E7 100%, #C0C0C0 100%, #E7E7E7 100%);
  background: radial-gradient(50% 50% at 50% 50%, #E7E7E7 100%, #C0C0C0 100%, #C0C0C0 100%, #E7E7E7 100%, #C0C0C0 100%, #E7E7E7 100%);
  -webkit-box-shadow: 0 1px 0 #A9A9A9, 0 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 #A9A9A9, 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__form-handle:focus {
  outline: none;
}

.feed__form-handle:focus span {
  color: #E04242;
}

.feed__form-handle.ui-state-active {
  background: #E04242;
  border: 1px solid #E04242;
  outline: none;
}

.feed__form-handle.ui-state-active span {
  background-color: #fff;
}

.feed__form-handle span {
  position: relative;
  color: #E04242;
  font-weight: 600;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #E04242;
}

.feed__btn {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.feed__img {
  position: absolute;
  top: 0;
  right: -14px;
  max-height: 450px;
}

.feed__img-wrp {
  position: relative;
}

.team {
  position: relative;
}

.team__bg {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../img/team__bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.team__overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #463333;
  opacity: .9;
}

.team__item {
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.team__item-num {
  font-family: "Effra-Bold";
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.team__item-ttl {
  font-size: 40px;
  color: #C5A19E;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

@media only screen and (max-width: 600px) {
  .team__item-ttl {
    font-size: 20px;
  }
  .team__item-ttl br {
    display: none;
  }
}

.team__item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.team__item:hover .team__item-num, .team__item:hover .team__item-ttl {
  color: #E04242;
}

.footer__item {
  color: #fff;
}

.footer__item:not(:last-child) {
  margin-bottom: 25px;
}

.footer__item-ttl {
  font-size: 18px;
  margin-bottom: 6px;
}

.footer__item-descr {
  font-family: "Effra-Bold";
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  .footer__item-descr {
    font-size: 18px;
  }
}

.footer__logo-text {
  font-family: "Effra-Regular";
  max-width: 160px;
  font-size: 18px;
}
