@import "../fonts/fonts.css"
$elig: 'Effra-Light'
$ereg: 'Effra-Regular'
$emed: 'Effra-Medium'
$ebold: 'Effra-Bold'

$dark: #463333
$ldark: #4F3A39
$red: #E04242
$tr: transparent
$gr: #C5A19E
$black: #282828
$lblack: #565656

@mixin ct
	background-position: 50% 50%
	background-size: contain
	background-repeat: no-repeat
@mixin cv
	background-position: 50% 50%
	background-size: cover
	background-repeat: no-repeat
@mixin ovl
	content: ''
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
@mixin ease
	transition: .4s all ease
@mixin easeinout
	transition: .5s all ease-in-out
@mixin r($width)
	@media only screen and (max-width: $width + "px")
		@content
@mixin rmin($width)
  @media only screen and (min-width: $width + "px")
    @content
*
	box-sizing: border-box
body
	position: relative
	scroll-behavior: smooth
	background-color: $dark
	font-family: $elig, sans-serif
	color: #fff
	font-size: 14px
	line-height: 1.1
	-webkit-font-smoothing: antialiased
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection
	color: #fff
	background-color: $dark
::selection
	color: #fff
	background-color: $dark
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active
	text-decoration: none
	outline: none
	transition: all 0.4s ease
	cursor: pointer
a
	color: #fff
	&:hover
		color: $red
button
	border: transparent
	background: none
option
	color: $dark
textarea
	resize: none
	overflow: hidden
	&::placeholder
		color: $dark
input,
textarea,
select
	color: #fff
	font-size: 16px
	padding: 12px 20px
	background-color: $tr
	border: 1px solid #A17772
	border-radius: 3px
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder
	color: #fff
input:focus,
textarea:focus,
input:active,
textarea:active
	border-color: $red
	outline: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
input[type="number"]
	-moz-appearance: textfield
	appearance: textfield
.checkbox
	cursor: pointer
	position: relative
	margin-bottom: 0
	input[type="checkbox"],
	input[type="radio"]
		position: absolute
		z-index: 1
		opacity: 0
		width: 100%
		height: 20px
		cursor: pointer
	.checkbox__text
		font-size: 14px
		position: relative
		padding-left: 30px
		cursor: pointer
		width: 100%
		height: 30px
		display: block
		&::before
			content: ''
			position: absolute
			top: 0px
			left: -2px
			width: 20px
			height: 20px
			border-radius: 2px
			border: 1px solid #c3c2c2
			background: #fff
		&::after
			content: ''
			position: absolute
			top: 50%
			margin-top: -11px
			left: 2px
			width: 12px
			height: 12px
			background-color: $red
			border-radius: 2px
			opacity: 0
			transform: scale(0)
			transition: 0.2s
		a
			color: $red
			text-decoration: underline
			position: relative
			z-index: 2
	input[type="checkbox"]:checked + .checkbox__text:after,
	input[type="radio"]:checked + .checkbox__text:after
		opacity: 1
		transform: scale(1)
	input[type="checkbox"]:checked + .checkbox__text:before,
	input[type="radio"]:checked + .checkbox__text:before
		background-color: #fff
.img-fluid
	max-width: 100%
	height: auto
.shd
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
	&:hover
		box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25)
.b
	font-family: $ebold
.tac
	text-align: center
.tal
	text-align: left !important
.und
	text-decoration: underline
.upp
	text-transform: uppercase
.btn
	position: relative
	font-family: $ebold
	font-size: 14px
	text-align: center
	text-transform: uppercase
	color: #fff
	border: 1px solid #fff
	border-radius: 3px
	padding: 0
	outline: none
	display: inline-block
	span
		position: relative
		width: 100%
		min-width: 170px;
		padding: 15px 18px
		display: block
		z-index: 2
		background-color: $red
		border-radius: 3px
		@include easeinout
		transform: translate(-4px,-4px)
		@include r(600)
			font-size: 13px
			min-width: 90px
			padding: 15px 10px
	&:hover
		color: #fff
		border-color: $red
		span
			color: #fff
			transform: translate(0,0)
.preloader
	display: inline-block
	position: relative
	transform: scale(0)
	svg
        fill: $red
        height: 90px
        width: 300px
	&__wrp
		position: fixed
		width: 100vw
		height: 100vh
		left: 0
		top: 0
		right: 0
		bottom: 0
		z-index: 4
		background-color: #fff
		display: flex
		justify-content: center
		align-items: center
.layout
	position: relative
	min-height: 100%
	overflow: hidden
	&__overlay
		+ovl
		background-color: $red
		opacity: 0
		visibility: hidden
		z-index: 3
		@include ease
	&__grid
		position: fixed
		max-width: 1140px
		width: 100%
		height: 100%
		left: 50%
		top: 0
		transform: translateX(-50%)
		display: grid
		grid-template-columns: repeat(4, 1fr)
		z-index: 1
		&-item
			height: 100%
			border-right: 1px solid #553f3f
			&:first-child
				border-left: 1px solid #553f3f
.menu
	position: absolute
	top: 0
	right: -100%
	background-color: $dark
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08)
	padding: 60px 30px
	min-height: 100vh
	z-index: 3
	transition: all 1.5s cubic-bezier(.23,1,.32,1)
	@include r(1200)
		right: -120%
		width: 100%
		min-height: 400px
		height: 100vh
		overflow-y: scroll
		padding: 20px 15px
	&__in
		opacity: 0
		transition: all 2.5s ease
		@include r(1200)
			max-width: 370px
			margin-left: auto
			margin-right: auto
.popup
	position: absolute
	top: 0
	right: -100%
	background-color: $dark
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08)
	padding: 60px 30px
	min-height: 100vh
	z-index: 3
	transition: all 1.5s cubic-bezier(.23,1,.32,1)
	@include r(1200)
		right: -120%
		width: 100%
		min-height: 400px
		height: 100vh
		overflow-y: scroll
		padding: 20px 15px
	&__in
		opacity: 0
		transition: all 2.5s ease
		@include r(1200)
			max-width: 370px
			margin-right: auto
			margin-left: auto
	&__cross
		margin-left: auto
		display: block
		@include ease
		&:hover
			transform: rotate(-90deg)
			opacity: .8
		@include r(575)
			svg
				width: 20px
	&__form
		max-width: 470px
		&-descr
			font-size: 15px
			color: #686868
.menu-open
	overflow: hidden
	height: 100vh
	.menu
		right: 0
		&__in
			opacity: 1
.feed-open
	overflow: hidden
	height: 100vh
	padding-right: 15px
	@include r(1200)
		padding-right: 0
	.popup
		right: 0
		&__in
			opacity: 1
	.layout__overlay
		opacity: .9
		visibility: visible
.form
	&-select
		-webkit-appearance: none
		appearance: none
		-moz-appearance: none
		background: url('../img/icon__arrow.svg') no-repeat 99% 50%
	&-check
		margin-top: 25px
		&__input
			position: absolute
			z-index: -1
			opacity: 0
			visibility: hidden
			&:checked ~ .form-check__text
				.form-check__text-gal
					transform: scale(1)
					opacity: 1
		&__text
			font-size: 16px
			display: flex
			align-items: center
			cursor: pointer
			&-circle
				position: relative
				min-width: 30px
				max-width: 30px
				height: 30px
				border: 1px solid $gr
				border-radius: 3px
				margin-right: 8px
			&-gal
				position: absolute
				top: 7px
				left: 6px
				opacity: 0
				transform: scale(.5)
				@include easeinout
.header
	position: relative
	padding: 30px 0
	z-index: 2
	@include r(1200)
		padding: 15px 0
	&__hmb
		position: relative
		display: none
		width: 50px
		height: 50px
		@include easeinout
		&::before,
		&::after
			position: absolute
			content: ''
			left: 50%
			transform: translateX(-50%)
			background-color: #fff
			width: 30px
			height: 3px
			@include easeinout
		&::before
			top: 20px
		&::after
			bottom: 20px
		@include r(1200)
			display: block
	&__logo
		@include r(420)
			svg
				width: 80px
		&-text
			font-family: $ereg
			font-size: 18px
			max-width: 160px
			@include r(1200)
				font-size: 14px
	&__nav
		flex-grow: 1
		display: flex
		justify-content: center
		@include r(1200)
			flex-grow: 0
		&-link
			font-family: $ebold
			font-size: 14px
			text-transform: uppercase
			&:not(:last-child)
				margin-right: 15px
	&__tel
		font-family: $ebold
		margin-right: 30px
		&-link
			font-size: 20px
	@include r(1200)
		&__menu
			position: fixed
			width: 100%
			height: 100%
			left: 0
			top: 0
			background: #473334
			z-index: 5
			opacity: 0
			visibility: hidden
			& > div
				height: 100%

.section
	&__ttl
		position: relative
		font-family: $ebold
		font-size: 55px
		line-height: 1.1
		margin-bottom: 50px
		@include r(1200)
			font-size: 30px
			margin-top: 30px
			margin-bottom: 25px
		span
			position: absolute
			font-family: $elig
			color: #644A4A
			left: -80px
			@include r(1200)
				top: -30px
				left: 0
	&__subttl
		font-size: 22px
		color: $gr
		margin-top: -20px
		margin-bottom: 45px
		@include r(1200)
			font-size: 18px
			margin-bottom: 30px
	&_inner
		padding: 70px 0
		@include r(1200)
			padding: 30px 0
		& > .container
			position: relative
			z-index: 2
.hero
	background-image: url('../img/banner__bg.jpg')
	background-position: 50% 0
	background-size: 100%
	background-repeat: no-repeat
	overflow: hidden
	& > .container
		position: relative
		z-index: 2
.banner
	padding: 60px 0
	@include r(1200)
		padding: 30px 0
	.section__ttl,
	&__left,
	&__center
		position: relative
		z-index: 2
	&__subttl
		font-size: 22px
		margin-bottom: 20px
		@include r(1200)
			font-size: 18px
	&__list
		font-family: $ebold
		font-size: 22px
		@include r(1200)
			font-size: 18px
		&-item
			display: flex
			flex-direction: column
			span:nth-child(1)
				color: $red
			&:not(:last-child)
				margin-bottom: 18px
	&__descr
		font-size: 20px
		color: $gr
		@include r(1200)
			font-size: 16px
	&__btn
		margin-top: 20px
	&__form
		margin-top: 35px
		&-in
			position: relative
			width: 100%
		&-ttl
			font-family: $ebold
			font-size: 22px
			margin-bottom: 15px
		&-input
			width: 100%
			padding-top: 13px
			padding-bottom: 13px
			border-color: #fff
			@include r(400)
				font-size: 14px
				padding-left: 10px
		&-btn
			position: absolute
			right: 0
			border: $gr
	&__image
		position: absolute
		top: -390px
		left: -230px
		z-index: 1
		&-wrp
			position: relative
.stack
	.section__subttl
		max-width: 300px
	&__img
		position: absolute
		top: -200px
		right: -100px
		&-wrp
			position: relative
	&__item
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		@include r(1200)
			align-items: flex-start
		&-ttl
			font-family: $ebold
			font-size: 22px
			margin-bottom: 25px
			@include r(1200)
				font-size: 16px
				margin-bottom: 10px
		&-logo
			width: 170px
			height: 55px
			background-color: $ldark
			border-radius: 3px
			display: flex
			justify-content: center
			align-items: center
			@include easeinout
			&:not(:last-child)
				margin-bottom: 18px
			&:hover
				background-color: $red
			@include r(1200)
				width: 120px
			&-img
				max-width: 80%
				height: auto
.trust
	position: relative
	&__item
		width: 100%
		height: 109px
		background-color: $ldark
		border-radius: 3px
		display: flex
		justify-content: center
		align-items: center
		@include easeinout
		@include r(600)
			height: 55px
		&:hover
			background-color: $red
		&-img
			max-width: 80%
			height: auto
.test
	background-image: url('../img/test__bg.jpg')
	background-position: 50% 100%
	background-repeat: no-repeat
	background-size: 100%
	&__item
		line-height: 1.3
		flex-direction: column
		display: flex
		@include easeinout
		&:hover
			transform: translateY(-5px)
			& > *
				color: $red
			.test__item
				&-icon
					path
						fill: $red !important
		&-icon
			margin-bottom: 15px
			svg
				path
					@include easeinout

					@include r(1200)
						width: 50px
						height: 50px
		&-ttl
			font-family: $ebold
			font-size: 22px
			min-height: 55px
			margin-bottom: 15px
			display: inline-block
			@include easeinout
			@include r(1200)
				font-size: 18px
				min-height: auto
				margin-bottom: 10px
		&-descr
			font-family: $ereg
			font-size: 18px
			color: $gr
			@include easeinout
			@include r(1200)
				font-size: 14px
.case
	&__item
		display: flex
		min-height: 333px
		@include r(600)
			min-height: auto
		&:hover
			.case__item-logo
				transform: scale(1.1)
		&-img
			padding: 50px 20px
			flex-basis: 50%
			display: flex
			align-items: center
			justify-content: center
			@include cv
			@include r(600)
				display: none
		&-logo
			max-width: 80%
			height: auto
			@include easeinout
		&-info
			padding: 25px 20px
			background-color: #fff
			flex-basis: 50%
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: flex-start
			@include r(600)
				flex-basis: 100%
		&-ttl
			font-family: $ebold
			font-size: 20px
			color: $black
			margin-bottom: 20px
			@include r(1200)
				font-size: 18px
				margin-bottom: 10px
		&-descr
			font-family: $ereg
			font-size: 16px
			line-height: 1.3
			color: $lblack
			margin-bottom: 10px
		&-link
			span
				font-family: $ereg
				font-size: 18px
				color: #A17772
				border-bottom: 1px solid #A17772
				@include easeinout
			path
				@include easeinout
			&:hover
				span
					color: $red
				path
					fill: $red
.feed
	background-image: url('../img/feed__bg.jpg')
	@include cv
	overflow: hidden
	&__left
		position: relative
		z-index: 1
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
	&__form
		position: relative
		z-index: 1
		margin-top: 15px
		&-input
			margin-bottom: 15px
		&-select
			margin-bottom: 15px
		&-budg
			font-size: 16px
			margin-top: 20px
			margin-bottom: 20px
			width: 100%
			&-title
				margin-bottom: 20px
				span
					font-family: $ebold
					font-size: 25px
					color: $red
		.ui-slider-horizontal
			height: 5px
			.ui-slider-handle
				top: -8px
				cursor: pointer
		.ui-widget.ui-widget-content
			border-radius: 5px
			border: 1px solid $dark
			background: $red
		.ui-widget-header
			background: $gr
		&-slider
			width: 100%
		&-handle
			background: radial-gradient(50% 50% at 50% 50%, #E7E7E7 100%, #C0C0C0 100%, #C0C0C0 100%, #E7E7E7 100%, #C0C0C0 100%, #E7E7E7 100%)
			box-shadow: 0 1px 0 #A9A9A9, 0 5px 5px rgba(0, 0, 0, 0.25)
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			&:focus
				outline: none
				span
					color: $red
			&.ui-state-active
				background: $red
				border: 1px solid $red
				outline: none
				span
					background-color: #fff
			span
				position: relative
				color: $red
				font-weight: 600
				width: 7px
				height: 7px
				border-radius: 50%
				background-color: $red
	&__btn
		transition: unset
	&__img
		position: absolute
		top: 0
		right: -14px
		max-height: 450px
		&-wrp
			position: relative
.team
	position: relative
	&__bg
		+ovl
		background-image: url('../img/team__bg.jpg')
		@include cv
	&__overlay
		+ovl
		background-color: $dark
		opacity: .9
	&__item
		@include easeinout
		&-num
			font-family: $ebold
			font-size: 40px
			color: #fff
			margin-bottom: 10px
			@include easeinout
		&-ttl
			font-size: 40px
			color: $gr
			@include easeinout
			@include r(600)
				font-size: 20px
				br
					display: none
		&:hover
			transform: translateY(-5px)
			.team__item
				&-num,
				&-ttl
					color: $red
.footer
	&__item
		color: #fff
		&:not(:last-child)
			margin-bottom: 25px
		&-ttl
			font-size: 18px
			margin-bottom: 6px
		&-descr
			font-family: $ebold
			font-size: 22px
			@include r(600)
				font-size: 18px
	&__logo
		&-text
			font-family: $ereg
			max-width: 160px
			font-size: 18px